* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--primary-font);
    color: var(--quartenary-color)
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}

button {
    outline: none;
    border: none;

    background-color: transparent;
}

input, select {
    outline: none;
    border: none;
}

li {
    list-style-type: none;
}